{% extends 'base.html.twig' %}

{% block title %}Edit TagRecette{% endblock %}

{% block body %}
    <h1>Edit TagRecette</h1>

    {{ include('tag_recette/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tag_recette_index') }}">back to list</a>

    {{ include('tag_recette/_delete_form.html.twig') }}
{% endblock %}
